<div class="center hero-unit">
  <h1>Infinite Finances with It</h1>
  <h2>
  Welcome to this crappy empty homepage. Soon it's going to be pretty nice.
  </h2>
  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

