<% @currencies.each do |c| %>
  <table>
    <tr><%= c.title %></tr>
    <% c.banks_data.each do |bank| %>
      <tr>
        <td><%= bank['name'] %></td>
        <td><%= bank['buy'] %></td>
        <td><%= bank['sale'] %></td>
      </tr>
    <% end %>
  </table>
<% end %>
