<p>
  <%= @currency.title %>
</p>

<p>
  <strong>Банк:</strong>
  <%= @currency.bank %>
</p>

<p>
  <strong>Покупка:</strong>
  <%= @currency.cost_buy %>
</p>

<p>
  <strong>Продажа:</strong>
  <%= @currency.cost_sale %>
</p>