<h1><%= @currency.title %></h1>

<table>
  <thead>
  <tr>
    <th>Банк</th>
    <th>Покупка</th>
    <th>Продажа</th>
  </tr>
  </thead>

  <% @currency.banks_data.each do |bank| %>
      <tr>
        <td><%= bank['name'] %></td>
        <td><%= bank['buy'] %></td>
        <td><%= bank['sale'] %></td>
      </tr>
  <% end %>
</table>